@{
    ViewBag.Title = "Inicio";
}

@if (Session["Login"].ToString() == "Administrador")
{
    @*<section class="welcome p-t-10">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="title-4">
                            Bienvenido,
                            @if (Session["usuarioNombre"] != null)
                            {
                                @Session["usuarioNombreCol"].ToString()
                            }
                        </h1>
                        <hr class="line-seprate">
                    </div>
                </div>
            </div>
        </section>*@
    <!-- END WELCOME-->
    <div class="container">
        <h2 class="text-center" style="margin: 1em 0 2em 0;">Resumen general</h2>
        <div id="barchart"></div>

        <!-- STATISTIC-->
        <section class="statistic statistic2">

            <div class="row">
                <div class="col-md-12">
                    <div id="barchart" style="width: 100%; margin: 0 auto;"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4 class="text-center" style="margin: 0 0 2em 0;">Gastos periódicos</h4>
                </div>                
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="statistic__item statistic__item--green">
                        <h2 class="number">$@Session["valorSemanal"]</h2>
                        <span class="desc">Gasto Semanal</span>
                        <div class="icon">
                            <i class="zmdi zmdi-truck"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="statistic__item statistic__item--orange">
                        <h2 class="number">$@Session["valorMensual"]</h2>
                        <span class="desc">Gasto Ultimo Mes</span>
                        <div class="icon">
                            <i class="zmdi zmdi-truck"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="statistic__item statistic__item--red">
                        <h2 class="number">$@Session["valorTotal"]</h2>
                        <span class="desc">Gasto total</span>
                        <div class="icon">
                            <i class="zmdi zmdi-money"></i>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div id="piechart"></div>
                </div>
            </div>
        </section>
    </div>

    @section Scripts{
        <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
        @*<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>*@
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script>
    $(document).ready(function () {
        @* Guias *@
        $.getJSON("/Home/GetData", function (data) {
            Highcharts.chart('piechart', {
                chart: {
                    plotBackgroundColor: null,
                    plotBorderWidth: null,
                    plotShadow: false,
                    type: 'pie'
                },
                title: {
                    text: 'Estado de las guías'
                },
                tooltip: {
                    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: false
                        },
                        showInLegend: true
                    }
                },
                series: [{
                    name: 'Brands',
                    colorByPoint: true,
                    data: [{
                        name: 'Pendiente',
                        y: data.Pendiente,

                    }, {
                        name: 'Entregada',
                        y: data.Entregada
                    }]
                }]
            });
        });
        @* Meses *@
        $.getJSON("/Home/GetDataBarChart", function (data) {
            var chart = Highcharts.chart('barchart', {

                title: {
                    text: 'Hojas de ruta/mes'
                },

                xAxis: {
                    categories: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic']
                },

                series: [{
                    type: 'column',
                    styledMode: true,
                    colorByPoint: true,
                    data: [{
                        name: 'Enero',
                        y: data.Enero,

                    }, {
                        name: 'Febrero',
                        y: data.Febrero
                    }, {
                        name: 'Marzo',
                        y: data.Marzo
                    }, {
                        name: 'Abril',
                        y: data.Abril
                    },
                    {
                        name: 'Mayo',
                        y: data.Mayo
                    },
                    {
                        name: 'Junio',
                        y: data.Junio

                    }, {
                        name: 'Julio',
                        y: data.Julio

                    }, {
                        name: 'Agosto',
                        y: data.Agosto

                    }, {
                        name: 'Septiembre',
                        y: data.Septiembre

                    }, {
                        name: 'Octubre',
                        y: data.Octubre

                    }, {
                        name: 'Noviembre',
                        y: data.Noviembre

                    }, {
                        name: 'Diciembre',
                        y: data.Diciembre

                    }],
                    showInLegend: false
                }]

            });


            $('#plain').click(function () {
                chart.update({
                    chart: {
                        inverted: false,
                        polar: false
                    },
                    subtitle: {
                        text: 'Plain'
                    }
                });
            });

            $('#inverted').click(function () {
                chart.update({
                    chart: {
                        inverted: true,
                        polar: false
                    },
                    subtitle: {
                        text: 'Inverted'
                    }
                });
            });

            $('#polar').click(function () {
                chart.update({
                    chart: {
                        inverted: false,
                        polar: true
                    },
                    subtitle: {
                        text: 'Polar'
                    }
                });
            });
        });
    });
        </script>
    }
}


